# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.venv/

# IDE files
.idea/

Reprot/
models/t5-disfluency-correction_v1/checkpoint-*/
models/t5-disfluency-correction_v1/disfl-qa-t5-final_*/


.pytest_cache/

# unnecessary files
src/Push_to_the_hub.py

